{% extends 'base.html' %}
{% block content %}
    <h2>List Item</h2>
    <div class="container">
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">Add Item</button>
            <button class="btn btn-primary" type="button">Button</button>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>No</th>
            <th>Picture</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Unit</th>
            <th>Action</th>
        </tr>
        
        {% for i in items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
            {% if i.picture %}
                <img src="{{ i.picture.url }}" alt="item.jpg" width="80" height="80">
            {% else %}
                No Image
            {% endif %}
            </td>
            <td>{{ i.name }}</td>
            <td>{{ i.stock }}</td>
            <td>{{ i.unit }}</td>
            <td>
                <a href="" class="btn btn-xs btn-warning"><ion-icon name="create-outline"></ion-icon> Update</a>
                <a href="" class="btn btn-xs btn-danger"><ion-icon name="trash-outline"></ion-icon> Delete</a>
            </td>
        </tr>
        {% endfor %}
            
    </table>
{% endblock content %}
    