{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">{{ title }}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group md-2 gap-2">
            <a href="" class="btn btn-sm btn-gray-600 ex-tbl d-flex align-items-center justify-content-center gap-2" style="width: 120px;"><ion-icon name="newspaper-outline"></ion-icon> Export</a>
            <button type="button" class="btn btn-sm btn-gray-700 ex-tbl d-flex align-items-center justify-content-center gap-2" onclick="printSection()" style="width: 120px;"><ion-icon name="print-outline"></ion-icon> Print</button>
          </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom gap-2">
        <a href="{% url 'wms:add_transaction' %}" class="btn btn-sm btn-blue-600 ex-tbl d-flex align-items-center justify-content-center gap-2" style="width: 180px;"><ion-icon name="duplicate-outline"></ion-icon>New Transaction</a>
        <input type="text" id="filter-input" class="form-control d-flex align-items-center justify-content-center mr-2" placeholder="Search">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Type</th>
                <th>Date</th>
                <th>Items</th>
                <th>Qty</th>
                <th>Subdepartement</th>
                <th>Requested By</th>
                <th>Received By</th>
                <th>Note</th>
                <!-- <th style="text-align: center;">Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                {% if t.transaction_type == "IN" %}
                    <span class="badge bg-success" style="width: 40px;">IN</span>
                {% else %}
                    <span class="badge bg-danger" style="width: 40px;">OUT</span>
                {% endif %}
                </td>
                <td>{{ t.date|date:"d-m-Y H:i" }}</td>
                <td>
                    <ul class="mb-0">
                        
                        {% for i in t.items.all  %}
                            <li>{{ i.item.name }} ({{ i.qty }})</li>
                        {% empty %}
                            <li><em>Item not found</em></li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ t.total_qty }}</td>
                <td>{{ t.subdepartement.name }}</td>
                <td>{{ t.requested_by|default:"-" }}</td>
                <td>{{ t.received_by|default:"-" }}</td>
                <td>{{ t.note|default:"-" }}</td>
                
                <!-- <td style="text-align: center;">
                    <a href="" class="btn btn-sm btn-outline-yellow-600" style="width: 100px;"><ion-icon name="create-outline"></ion-icon> Update</a>
                    <a href="" class="btn btn-sm btn-outline-red-600" style="width: 100px;"><ion-icon name="trash-outline"></ion-icon> Delete</a>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
    